<div>
      <h4 style="
      text-align: center;
      font-size: 1.5rem;
      color: b4b3b4;">
      BODY</h4>
    </div>
    <div id="msg-weight">
      <h5>You Got 33 lbs</h5>
    </div>
    <div style="background-image:url(images/main_body.png);width: 100%;height: 65%;background-size: contain;background-repeat: no-repeat;background-position: center;margin: 0 auto;margin-top: 50px;">
        <div class="vl" style="position: absolute;right: 50%;height: 100%; margin-right:-11px"></div>
    </div>
    <div style="text-align:center" id="body-container">
      <div class="face-item">Before</div>
      <div class="face-item">After</div>
</div>
